.users-table-container {
    width: 100%;
}

.users-table {
    width: 70%;
    margin: auto;
    border: solid 2px black;
    border-spacing: 0;
    font-family: 'Calibri';
    font-weight: 400;
    font-size: 16px;
}  

.header-row td{
    border: solid 1px black;
}

.users-table-container button {
    margin: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    background-color: transparent;
}

.users-table-container button:hover {
    background-color: aliceblue;
    cursor: pointer;
}